.app {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .app {
    max-width: 300px;
    margin: 0 10px;
  }
}
